[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
numpy = "*"
exchangelib = "*"
bs4 = "*"
pretty-html-table = "*"
lxml = "*"
openpyexcel = "*"
pysocks = "*"
socks = "*"
openpyxl = "*"
html5lib = "*"
jinja2 = "*"

[dev-packages]
jupyter = "*"
loguru = "*"

[requires]
python_version = "3.12"

[cli]
art = "*"
click = "*"
