psycopg
apache-airflow-providers-postgres
beautifulsoup4
bs4
cached-property
certifi
cffi
charset-normalizer
click
cryptography
defusedxml
dnspython
et-xmlfile
exchangelib
html5lib
idna
isodate
jdcal
Jinja2
lxml
MarkupSafe
numpy
oauthlib
openpyexcel
openpyxl
pandas
pycparser
Pygments
PySocks
pyspnego
python-dateutil
pytz
requests
requests-ntlm
requests-oauthlib
six
socks
soupsieve
tzdata
tzlocal
urllib3
webencodings
